* {
    box-sizing: border-box;
}

body {
    background-color: #B7CCE2;
    color: #FFFFFF;
}

header, .chrisContent, .answerQuizBox {
    border: solid white;
    width: 700px;
    margin: 0 auto;
    background-color: #005899;
    padding: 10px;
    text-align: center;
}

header {
    width: 700px; 
}

.chrisContent {
    width: 400px;
}

.answerQuizBox {
    width: 500px;
}

h1 {
    font-family: 'Anton', sans-serif;
    font-size: 4rem;
    text-transform: uppercase;
}

h2 {
    font-family: 'Anton', sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
}

p {
    font-family: 'Cabin', sans-serif;
}

ol, ul {
    list-style: inside;
    padding-inline-start: 0px;
}